# Dictinary

In [4]:
empd1={'id':201, 'Name':'John','Position':'Manager'}
empd1

{'id': 201, 'Name': 'John', 'Position': 'Manager'}

In [5]:
empd1['id']

201

In [6]:
empd1['Name']

'John'

In [7]:
empd1.update({'Salary':90000})
empd1

{'id': 201, 'Name': 'John', 'Position': 'Manager', 'Salary': 90000}

In [8]:
empd1.values()

dict_values([201, 'John', 'Manager', 90000])

In [9]:
empd1.items()

dict_items([('id', 201), ('Name', 'John'), ('Position', 'Manager'), ('Salary', 90000)])

In [10]:
empd1.keys()

dict_keys(['id', 'Name', 'Position', 'Salary'])

In [11]:
empd1['Salary']

90000

In [13]:
empd1['Salary']=95000
empd1

{'id': 201, 'Name': 'John', 'Position': 'Manager', 'Salary': 95000}

In [14]:
empd1['Position']='Director'

In [15]:
empd1

{'id': 201, 'Name': 'John', 'Position': 'Director', 'Salary': 95000}

In [16]:
len(empd1)

4

In [17]:
del empd1['id']
empd1

{'Name': 'John', 'Position': 'Director', 'Salary': 95000}

In [19]:
empd1.pop('Name')
empd1

{'Position': 'Director', 'Salary': 95000}

In [20]:
empd1.pop()  # Here we cannot used as used in list

TypeError: pop expected at least 1 argument, got 0

In [22]:
# Append (extend ) method cannot be used in Dictionary
#  it can only be used in List

In [23]:
studict={'id':[1,2,3],'Name':['John','Jack','Andrew'],'Grade':[20,30,40]}
studict

{'id': [1, 2, 3], 'Name': ['John', 'Jack', 'Andrew'], 'Grade': [20, 30, 40]}

In [24]:
studict['id']

[1, 2, 3]

In [25]:
studict.keys()

dict_keys(['id', 'Name', 'Grade'])

# Sets

Sets are
- unordered
- immutable
- no indexing
- remove duplicate value
- it is unique

In [1]:
x={22,33,45,78,90}
x

{22, 33, 45, 78, 90}

In [2]:
y=set([33,44,55,66,77])
y

{33, 44, 55, 66, 77}

In [3]:
x={22,33,45,67,48,33} # No dupicates
x

{22, 33, 45, 48, 67}

In [4]:
days={'Mon','Tue','Wend','Thur',}
type(days)

set

In [7]:
days.add('Sun')
days

{'Mon', 'Sun', 'Thur', 'Tue', 'Wend'}

In [5]:
 print(days[0]) # No indexing

TypeError: 'set' object is not subscriptable

In [6]:
days[1]='June'

TypeError: 'set' object does not support item assignment

In [8]:
days.remove('Sun')

In [9]:
days

{'Mon', 'Thur', 'Tue', 'Wend'}

In [10]:
days.pop() # unordered so any item it will delete in pop only in sets

'Wend'

In [11]:
days

{'Mon', 'Thur', 'Tue'}

In [12]:
days.clear()

# LOOPS :-

While Loop

In [13]:
# Initialization
i=0

# Condition
while (i<3):
    print(i)
    i=i+1 # Increment

0
1
2

In [16]:
i=0
while(i<5):
    print(i)
    i=i+2

0
2
4

In [18]:
j=0
while(j<4):
    print(j)
    j=j+1

0
1
2
3

In [19]:
k=0
while(k<7):
    print('k=',k)
    k=k+1

k= 0
k= 1
k= 2
k= 3
k= 4
k= 5
k= 6

In [20]:
k=2
while(k<7):
    print('k=',k)
    k=k+1

k= 2
k= 3
k= 4
k= 5
k= 6

In [21]:
k=0
while(k<10):
    print(k,end='')
    k=k+1

0123456789

In [22]:
k=0
while(k<10):
    print(k,end=' ')
    k=k+1

0 1 2 3 4 5 6 7 8 9

For Loop

In [23]:
for index in [1,2,3]:
    print(index)

1
2
3

In [25]:
for i in [10,20,30,40]:
    print(i,end=" ")

10 20 30 40

In [27]:
for j in [21,34.3,56,78]:
    print(j)

21
34.3
56
78

In [28]:
for i in [1.2,34,54,'A','DC',True,False]:
    print(i,end=' ')

1.2 34 54 A DC True False